<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable">Name</th>
      <th class="sortable">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr ngFor="let key in satellites">
       <td>{{satellites[0].name}}</td>
       <td>{{satellites[0].type}}</td>
       <td>{{satellites[0].operational}}</td>
       <td>{{satellites[0].orbitType}}</td>
       <td>{{satellites[0].launchDate}}</td>
    </tr>
    <tr>
       <td>{{satellites[1].name}}</td>
       <td>{{satellites[1].type}}</td>
       <td>{{satellites[1].operational}}</td>
       <td>{{satellites[1].orbitType}}</td>
       <td>{{satellites[1].launchDate}}</td>
   </tr>
   <tr>
    <td>{{satellites[2].name}}</td>
    <td>{{satellites[2].type}}</td>
    <td>{{satellites[2].operational}}</td>
    <td>{{satellites[2].orbitType}}</td>
    <td>{{satellites[2].launchDate}}</td>
</tr>
<tr>
    <td>{{satellites[3].name}}</td>
    <td>{{satellites[3].type}}</td>
    <td>{{satellites[3].operational}}</td>
    <td>{{satellites[3].orbitType}}</td>
    <td>{{satellites[3].launchDate}}</td>
</tr>
</table>